body{
    width: 100%;
    margin: auto;
    background-color: ghostwhite;
}

.top-div{
    width: 100%;
    background-color: #5B84B1FF;
    padding: 30px;
}

h1, h2 {
    text-align: center;
}

.top-div h1{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.top-div h2{
    margin-top: 0px;
    padding-top: 0px;
}

.top-div p{
    width: 90%;
    margin: 0% 5%;
}

.top-div img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: black 2px solid;
}

.technologies-flex {
    padding: 50px;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    color: #000;
}

.technologies-flex ul{
    list-style: none;
    padding: 25px;
    border: black 2px solid;
    background-color: peru;
}

.technologies-flex ul li{
    padding: 5px;
}

.technologies-div {
    padding: 30px;
    background-color: #FC766AFF;
}